h2:hover
{
    color: red;
                font: size 30px; ;
}
.standout
{
    color: blueviolet;
}
.image1:hover{
    border-radius: 50%;
}
.image2:hover{
    border-radius: 30px;
}
.image3:hover{
    opacity: 0.1;
}
.image4:hover{
    filter: grayscale(0.5);
}
.image5:hover{
    filter: blur(10px);
}